@page
@model IndexModel
@inject CalculatorService calc
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>Calculator test</h2>
<p>24 + 36 = @calc.Add(24, 36)</p>
<p>24 * 36 = @calc.Multiply(24, 36)</p>
<p>24 - 36 = @calc.Subtract(24, 36)</p>
